.bg-header {
    /* background-color: #6f5499; */
    background-color: #17a2b8;
    padding: 10px 0;
}

.bg-header a {
    color: white;
    text-decoration: none;
}

.bg-header a:hover {
    color: #fd7e14;
}

.btn-blue {
    background-color: #61affe;
    color: #fff;
    font-weight: 700;
}

.btn-green {
    background-color: #49cc90;
    color: #fff;
    font-weight: 700;
}

.btn-yellow {
    background-color: #fca130;
    color: #fff;
    font-weight: 700;
}

.btn-red {
    background-color: #f93e3e;
    color: #fff;
    font-weight: 700;
}